* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    position: fixed;
    height: 50px;
    background-color: #212121;

}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 13px 70px;
    height: 50px;
    margin: 0;
}

.menu .menu_item {
    border-right: dotted 2px black;
    padding-right: 28px;
}

.menu .menu_link {
    color: white;
    font-size: 15px;
    line-height: 14px;
}

.subheader {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}


.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
}

.subheader .subheader_call {
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/bck/2-layers.png) center center/cover no-repeat;
    padding: 200px 0 0 0;
}

.promo .promo_header {
    font-size: 60px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}

.promo .promo_subheader {
    font-size: 30px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}

.promo .promo_descr {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 135px auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -3 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.reason {
    height: 800px;
}

.reason .reason_header {
    margin: 80px auto 0 auto;
    padding: 6px 11px 9px 13px;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.reason .reason_work {
    margin-top: 38px;
    height: 54px;
    font-size: 38px;
    line-height: 48px;
    color: #222222;
    font-weight: 400;
    text-align: center;
}

.reason .col-md-6 {
    display: flex;
    height: 114px;
}

.reason p {
    padding-left: 26px;
}


.reason .blue {
    font-size: 17px;
    color: #1eacc7;
    font-weight: 400;
    text-align: left;
}


.reason .col-md-6 {
    margin: 40px auto 67px auto;
}